*{
    margin: 0;
    padding: 0;
}




body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    justify-content: center;
}

.input, .output {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

textarea {
    margin-top: 10px;
}

button {
    margin: 10px;
}
